html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

iframe {
  top: 0;
  position: sticky;
  width: 100%;
  height: 500px;
  border: none;
}

.header {
  position: fixed;
}
.wrapper {
  display: block;
  position: relative;
}

.odds-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 190px;
}
.toggle-slip-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.controls {
  margin-top: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
}
.toggle-slip {
  height: fit-content;
}

.url {
  height: fit-content;
  display: flex;
  flex-direction: row;
}
